<footer>
    <div class="reseau">
        <div>
            <img width="100px" src="https://i.pinimg.com/originals/ce/c8/a6/cec8a6239de29acbfcfee0ccec995b9f.png" alt="">
        </div>

        <div>
            <img width="80px" src="https://images.vexels.com/media/users/3/141370/isolated/preview/73211069a13c828088c2e85b2569e787-twitter-distorted-round-icon-by-vexels.png" alt="">
        </div>

        <div>
            <img width="130px" src="https://upload.wikimedia.org/wikipedia/commons/3/37/Instagram_Icon.png" alt="">
        </div>
    </div>
</footer>

</body>
</html>